/* main.css */

/* You can add global styles here if you need them. */
/* For example, custom styles for the audio player. */

audio::-webkit-media-controls-panel {
  background-color: #4b5563; /* gray-600 */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
  background-color: #fca5a5; /* red-300 */
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #f9fafb; /* gray-50 */
}

